/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio cache
.vs/
*.csproj
*.sln

# Unity Recovery folders (Tránh file rác khi crash/autosave)
_Recovery/
**/_Recovery/